body{
    margin:0px;
    background-color: black;
}
.hang{
    height:30px;
    width:80px;
    border-radius:45%;
    border:3px solid rgb(216, 24, 24);
    float:left;
    margin:0px;
    position:relative;
    border-top: transparent;
    border-right: transparent;
    border-left:transparent;
}
.holder{
height:25px;
position:relative;
width:15px;
border-radius:35%;
background-color:grey;
float:left;
margin:0px;
border:6px solid grey;
z-index:2;
}

#light3{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:103px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light2{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:210px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light1{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:-5px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light4{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:317px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}

#light5{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:424px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light6{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:531px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}

#light7{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:638px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light8{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:745px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light9{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:852px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light10{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:959px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light11{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:1066px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
#light12{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:1173px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;

}

#light13{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:1280px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;

}
#light14{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:1387px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;

}
#light15{
    z-index:1;
    height:100px;
    width:35px;
    background-color: aqua;
    float:left;
    position:absolute;
    top:25px;
    left:1494px;
    margin:0px;
    border-radius: 48%;
    animation-name:fla;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction:alternate-reverse;
}
@keyframes fla{
    0% {
background-color:khaki;
opacity:0.9;
box-shadow:0px 10px 50px 20px khaki;
    }
    50%{
        background-color: rgb(248, 145, 11);
        opacity:0.7;
        box-shadow:0px 10px 50px 20px rgb(248, 145, 11);
    }
    100%{
        background-color: rgb(180, 40, 157);
        opacity:0.8;
        box-shadow:0px 10px 50px 20px rgb(180, 40, 157);
    }
}